<div class="col-md-3 col-sm-6">
  <span class="thumbnail product">
    <img src=<%= product.image_url %>>
    <h4><%= product.name %></h4>
    <div class="ratings">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p><%= truncate(product.description) %></p>
    <hr>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <p class="price"><%= number_to_currency(product.price) %></p>
      </div>
      <div class="col-md-6 col-xs-6">
        <%= button_to 'Add to Cart', line_items_path(product_id: product.id), class: 'btn btn-success buy', turboboost: true %>
      </div>
    </div>
  </span>
</div>
